body{ background-color: #8CD756;
  background-image: url(../imagenes/humitaa.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
}
.verde {color: green;
  font-family: Times New Roman, Times, serif;
  font-size: 30px;
  text-decoration: underline;
}

.rojo {color: red;
  font-family: Times New Roman, Times, serif;
  font-size: 30px;
 }

.azul {color: blue;
  font-family: Times New Roman, Times, serif;
  font-size: 30px;
}

h1{
  font-family:Impact, fantasy;
  font-size:   large;
  text-align:  center;
  color: green;
  font-size: 60px;
  text-decoration: underline;
  border: solid 3px;
  padding: 20px;
  margin:60px;
  background-color: lightgreen;
}
header {background-color: lightblue;}

main {
  padding: 20px;
  background-color: #f5f5f5;
}
aside {
  width: 250px;
  background-color: #eee;
  padding: 15p

h3 {color: black;
  text-decoration: underline;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;

  background-color: #25d366;
  color: white;

  width: 60px;
  height: 60px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  text-decoration: none;

  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  z-index: 1000;
}
.whatsapp-float img {
  width: 60px;
}

.humitas {
  background-color: white;
  height: 100px;
  display: flex;
  justify-content: center; /* horizontal */
  justify-content: space-around;
  align-items: center;     /* vertical */
}
